/*
    COLORS
    Here you can define your colors as SASS variables 
    so that they will be available in all components and pages 
*/

/* PRIMARY BRAND COLOR + variants */
$primary: #606c38;
$primary-dark: #283618;
$primary-light: #95a857;

/* SECONDARY BRAND COLOR + variants */
$secondary: #dda15e;
$secondary-dark: #bc6c25;
$secondary-light: #e2c19b;

/* FUNCTIONAL COLORS */
$background: #ebebeb;
$surface: #ccc;
$surface--dark: #333; 
$error: red;


/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
    For inspiration, take a look at 
    Google Material Design Color System: 
    https://material.io/design/color/the-color-system.html 
*/