@use '../core' as *; /* this enables the usage of all variables and mixins from the core folder */


.product {
    background-color: $background;
    max-width: 300px;
    padding: 1rem 1rem 4rem 1rem;
    overflow: hidden;
    position:relative;

    &:hover {
        cursor: pointer;
        background-color: $secondary-dark;
    }

    &__title {
        font-family: $font_title;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: $font_title_lineheight;
        margin: 0.5rem 0;
    }
    &__price {
        font-family: $font_body;
        font-size: 1rem;
        font-weight: 300;
        margin: 1rem 0;
    }
    &__description {
        font-family: $font_body;
    }
    &__image {
        mix-blend-mode: darken;
    }

    &__addToCart {
        position: absolute;
        bottom: -50px;
        left:0;
        width: 100%;
        background: pink;
        color: white;
        font-size: 14px;
        padding: 1rem 0;
        text-align: center;
        transition: bottom 250ms ease-in;

        &:hover {
            background: #e1a5b0;
        }
    }
    &:hover .product__addToCart {
        bottom: 0;
    }
} 

